In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
#Dataset Size
n = 100

In [3]:
x = np.random.uniform(0,1,(n,5))

In [4]:
y = 4 * x[:,0] + 3 * x[:,1] + 12 * x[:,2] + 2 * x[:,3] + x[:,4] + 10 + np.random.normal(0,np.square(x[:,1]) + 2 * abs(x[:,2]))
y = np.reshape(y,(100,1))

In [5]:
dataset = np.concatenate((x,y), axis = 1)
df = pd.DataFrame(dataset,columns=['X0','X1','X2','X3','X4','Y'])
display(df)

          X0        X1        X2        X3        X4          Y
0   0.979648  0.236006  0.631384  0.340102  0.104296  21.693515
1   0.896530  0.049425  0.418649  0.538867  0.133365  19.938767
2   0.474301  0.153330  0.171881  0.474207  0.974987  16.522061
3   0.744602  0.589923  0.595234  0.384557  0.501106  26.906855
4   0.818485  0.736160  0.259069  0.889271  0.674801  21.946108
..       ...       ...       ...       ...       ...        ...
95  0.326081  0.921064  0.938273  0.026495  0.538871  19.605372
96  0.181127  0.112286  0.728793  0.257727  0.410254  20.273059
97  0.711829  0.874436  0.673658  0.671777  0.416095  27.285643
98  0.603953  0.973375  0.398574  0.692359  0.957018  19.348742
99  0.077940  0.878520  0.127962  0.581513  0.332823  17.264819

[100 rows x 6 columns]

In [6]:
df.to_csv("linear_dynamic_variance_dataset.csv")