In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
#Dataset Size
n = 100

In [3]:
x = np.random.uniform(0,1,(n,5))

In [4]:
y = 10 * np.sin(math.pi * x[:,0]* x[:,1]) + 20 * np.square(x[:,2]+0.5) + 10 * x[:,3] + 5* x[:,4] + np.random.normal(0,np.square(x[:,1]) + 2 * abs(x[:,2]))
y = np.reshape(y,(100,1))

In [5]:
dataset = np.concatenate((x,y), axis = 1)
df = pd.DataFrame(dataset,columns=['X0','X1','X2','X3','X4','Y'])
display(df)

          X0        X1        X2        X3        X4          Y
0   0.315304  0.987011  0.218901  0.794746  0.109435  28.655630
1   0.631239  0.197705  0.796847  0.201099  0.726132  40.018183
2   0.697501  0.570345  0.656077  0.511616  0.738524  44.313752
3   0.470572  0.027676  0.031520  0.439152  0.289870  11.845246
4   0.458924  0.433668  0.038507  0.899776  0.919173  25.458610
..       ...       ...       ...       ...       ...        ...
95  0.780655  0.324601  0.079747  0.419485  0.041743  18.598602
96  0.336497  0.341321  0.521461  0.861080  0.861385  35.018921
97  0.493670  0.751583  0.799461  0.473575  0.654692  49.662698
98  0.879572  0.425852  0.614746  0.261312  0.045842  36.460477
99  0.173221  0.565768  0.840664  0.807839  0.410123  51.576014

[100 rows x 6 columns]

In [6]:
df.to_csv("quadratic_dynamic_variance_dataset.csv")