In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
#Dataset Size
n = 100
variance = 1

In [3]:
x = np.random.uniform(0,1,(n,5))

In [4]:
y = 10 * np.sin(math.pi * x[:,0]* x[:,1]) + 20 * np.square(x[:,2]+0.5) + 10 * x[:,3] + 5* x[:,4]
y = y + + np.random.normal(0,variance,y.shape)
y = np.reshape(y,(100,1))

In [5]:
dataset = np.concatenate((x,y), axis = 1)
df = pd.DataFrame(dataset,columns=['X0','X1','X2','X3','X4','Y'])
display(df)

          X0        X1        X2        X3        X4          Y
0   0.998824  0.688585  0.172086  0.516471  0.637355  25.691047
1   0.007501  0.714049  0.547857  0.841765  0.238708  29.859570
2   0.886862  0.763094  0.657418  0.354995  0.623382  41.162844
3   0.629512  0.538282  0.751046  0.549787  0.601327  49.251305
4   0.752578  0.266515  0.968932  0.674608  0.357547  57.438698
..       ...       ...       ...       ...       ...        ...
95  0.970466  0.802114  0.241715  0.035008  0.871398  21.955961
96  0.461988  0.644680  0.718761  0.540594  0.332765  43.927632
97  0.657989  0.654028  0.303993  0.812238  0.092870  31.007740
98  0.788087  0.885789  0.245246  0.685691  0.665624  29.436286
99  0.334569  0.786072  0.908127  0.408092  0.013762  51.739977

[100 rows x 6 columns]

In [6]:
df.to_csv("quadratic_constant_variance_dataset.csv")