In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
#Dataset Size
n = 5000

In [3]:
x = np.random.uniform(0,1,(n,5))

In [4]:
y = 4 * x[:,0] + 3 * x[:,1] + 12 * x[:,2] + 2 * x[:,3] + x[:,4] + 10 + np.random.normal(0,np.square(x[:,1]) + 2 * abs(x[:,2]))
y = np.reshape(y,(n,1))

In [5]:
dataset = np.concatenate((x,y), axis = 1)
df = pd.DataFrame(dataset,columns=['X0','X1','X2','X3','X4','Y'])
display(df)

            X0        X1        X2        X3        X4          Y
0     0.697318  0.847962  0.054812  0.282582  0.239000  15.765378
1     0.447341  0.416091  0.263423  0.315748  0.320021  18.463735
2     0.620080  0.425428  0.339799  0.430260  0.356083  18.142995
3     0.013172  0.540998  0.195288  0.910768  0.159449  16.543731
4     0.883000  0.585699  0.374686  0.312411  0.791912  22.625328
...        ...       ...       ...       ...       ...        ...
4995  0.675621  0.220283  0.659544  0.366700  0.519429  23.239608
4996  0.155043  0.441473  0.497468  0.293153  0.082456  19.280524
4997  0.673500  0.446771  0.153287  0.219786  0.919542  16.257735
4998  0.049816  0.575210  0.743274  0.600940  0.266975  21.137908
4999  0.851164  0.385861  0.333955  0.346434  0.811379  20.271059

[5000 rows x 6 columns]

In [6]:
df.to_csv("linear_dynamic_variance_dataset.csv")