In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
#Dataset Size
n = 5000

In [3]:
x = np.random.uniform(0,1,(n,5))

In [4]:
y = 10 * np.sin(math.pi * x[:,0]* x[:,1]) + 20 * np.square(x[:,2]+0.5) + 10 * x[:,3] + 5* x[:,4] + np.random.normal(0,np.square(x[:,1]) + 2 * abs(x[:,2]))
y = np.reshape(y,(n,1))

In [5]:
dataset = np.concatenate((x,y), axis = 1)
df = pd.DataFrame(dataset,columns=['X0','X1','X2','X3','X4','Y'])
display(df)

            X0        X1        X2        X3        X4          Y
0     0.289455  0.172784  0.039520  0.643388  0.184867  14.664402
1     0.862083  0.376250  0.742132  0.678905  0.926188  51.316406
2     0.075346  0.395490  0.835628  0.630379  0.168807  44.615342
3     0.970776  0.361870  0.322145  0.353139  0.471238  28.152917
4     0.762831  0.051940  0.879068  0.632837  0.078776  45.761763
...        ...       ...       ...       ...       ...        ...
4995  0.864952  0.843265  0.516217  0.272169  0.034580  30.537058
4996  0.206644  0.234632  0.601057  0.825614  0.538634  37.199506
4997  0.082671  0.410909  0.905477  0.371883  0.954067  48.487639
4998  0.948674  0.929394  0.151786  0.904218  0.350034  22.458203
4999  0.983860  0.481657  0.362021  0.517022  0.101739  30.187904

[5000 rows x 6 columns]

In [6]:
df.to_csv("quadratic_dynamic_variance_dataset.csv")